{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    {% if request.user.is_authenticated and general_parameter.support_chat_link %}
        {{ general_parameter.support_chat_link|safe }}
    {% endif %}
{% endblock %}


{% block content %}
    {% if general_parameter.latest_news %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><em class="icon fas fa-info"></em> {% trans "Latest News!" %}
            </h5> {{ general_parameter.latest_news|safe }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-5s">{% trans "Welcome, eLearning Friend!" %}</h1>
                <p class="lead">{% trans "Feel free to choose one of our finest video conference rooms or" %} </p>
                <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-toggle="modal"
                        data-target="#modal-default">{% trans "Create ad-hoc meeting" %}
                </button>
                {% if general_parameter.faq_url %}
                    <a href="{{ general_parameter.faq_url }}" target="_blank"
                       class="btn btn-outline-secondary waves-effect waves-light"
                       rel="noopener noreferrer">{% trans "Read FAQ" %}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 d-none d-sm-block">
            <div class="row">
                {% if user.homeroom %}
                    <div class="col-6">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-primary elevation-1"><em class="fas fa-home"></em></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{% trans "Your personal home room" %}</span>
                                <span class="info-box-number">
                                    <span style="white-space: nowrap;" class="mr-2">
                                    <em class="far fa-sm fa-copy" style="cursor: pointer;"
                                        onclick="copyToClipboard('{{ user.homeroom.name }}')"></em>
                                    </span>
                                    <a href="{% url 'join_or_create_meeting' user.homeroom.meeting_id %}">
                                        {% trans "Start" %}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-6">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><em class="fas fa-users"></em></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{% trans "Current participants" %}</span>
                            <span class="info-box-number">{{ participants_current|default_if_none:"0" }}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <div class="card-title w-100 mb-2">
                        <input class="form-control" id="search_input" placeholder="Search room..." type="text"
                               autofocus="autofocus">
                    </div>
                    <div id="cardCollpase1" class="collapse show table-responsive ">
                        <table id="tasks_my" class="table table-sm table-hover table-borderless">
                            <caption>{% trans "Available rooms overview" %}</caption>
                            <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">{% trans "Room" %}</th>
                                <th scope="col" class="d-none d-lg-table-cell">{% trans "Tenant" %}</th>
                                <th scope="col">{% trans "State" %}</th>
                                <th scope="col">{% trans "Type" %}</th>
                                <th scope="col" class="d-none d-lg-table-cell">{% trans "Current Occupancy" %}</th>
                                <th scope="col" class="d-none d-lg-table-cell">{% trans "Next Occupancy" %}</th>
                                <th scope="col" class="d-none d-lg-table-cell">{% trans "Participants" %}</th>
                                <th scope="col" class="d-none d-lg-table-cell">{% trans "Comment" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for room in rooms %}
                                {% if room.is_public %}
                                    {% if not room.is_breakout and room.config %}
                                        <tr>
                                            <td> <span style="white-space: nowrap;">
                                                <em class="far fa-sm fa-copy" style="cursor: pointer;"
                                                    onclick="copyToClipboard('{{ room.name }}')"></em>
                                                <em class="far fa-sm fa-envelope" style="cursor: pointer;"
                                                    onclick="inviteViaEmail('{{ room.name }}')"></em>
                                                </span>
                                            </td>
                                            <td>
                                                <a href="{% url 'join_or_create_meeting' room.meeting_id %}">{{ room.name }}</a>
                                            </td>
                                            <td class="d-none d-lg-table-cell">{{ room.tenant|default_if_none:"" }}</td>
                                            <td>
                                                {% include 'snippet_room_state.html' with state=room.state %}
                                            </td>
                                            <td>{{ room.config.name }}</td>
                                            <td class="d-none d-lg-table-cell">{{ room.room_occupancy_current|default_if_none:"" }}</td>
                                            <td class="d-none d-lg-table-cell">{{ room.room_occupancy_next|default_if_none:"" }}</td>
                                            <td class="d-none d-lg-table-cell">{{ room.participant_count }}</td>
                                            <td class="d-none d-lg-table-cell">{{ room.comment_public|default_if_none:"" }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Create ad-hoc meeting" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Please provide a name for your adhoc meeting room." %}</p>
                    <input type="text" class="form-control" id="jitsi_spawner_value" placeholder="room name" required>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-light waves-effect"
                            data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="redirect_jitsi()">
                        {% trans "Create room" %}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




{% endblock %}

{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script>
        function jitsi_url_format(_value) {
            let value = _value.toLowerCase();
            value = value.replace(/ä/g, 'ae');
            value = value.replace(/ö/g, 'oe');
            value = value.replace(/ü/g, 'ue');
            value = value.replace(/ß/g, 'ss');
            value = value.replace(/[^a-z0-9]/gi, '');
            return value;
        }

        function redirect_jitsi() {
            let a = jitsi_url_format(document.getElementById("jitsi_spawner_value").value);
            window.location.href = "{{ general_parameter.jitsi_url }}" + a;
        }

        $(document).ready(function () {
            var dtable = $('#tasks_my').dataTable({
                "bLengthChange": false,
                "bPaginate": false,
                "sDom": 't',
                "stateSave": true,

            });

            $('#search_input').keyup(function () {

                dtable.fnFilter($(this).val());
            });
        });


        function copyToClipboard(room) {
            var $body = document.getElementsByTagName('body')[0];
            var $tempInput = document.createElement('INPUT');
            $body.appendChild($tempInput);
            room_encoded = encodeURIComponent(room);
            $tempInput.setAttribute('value', "{{ base_url }}/r/" + room_encoded)
            $tempInput.select();
            document.execCommand('copy');
            $body.removeChild($tempInput);
            toastr.success('{% trans "The content has successfully been copied to your clipboard." %}');
        }

        function invideViaEmail(room) {
            var baseUrl = "{{ base_url }}/r/";
            room_encoded = encodeURIComponent(room);
            subject = "{% trans "Invitation to" %} " + room;
            body = encodeURIComponent("Hi eLearning Friend, \r\n \r\n lets meet at " + room + ". Please open " + baseUrl + room_encoded + " with your Google Chrome Browser.");
            window.location.href = 'mailto:?subject=' + subject + '&body=' + body;
        }
    </script>
{% endblock %}