{% if state == "UP"%}
<span class="badge bg-success">UP</span>
{% elif state == "DISABLED" %}
<span class="badge bg-primary">DISABLED</span>
{% else %}
<span class="badge bg-danger">{{ state }}</span>
{% endif %}